In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file = "covid-19-all.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file)
print(data)

         Country  Province/State   Latitude   Longitude  Confirmed  Recovered  \
0          China           Anhui  31.825700  117.226400        1.0        NaN
1          China         Beijing  40.182400  116.414200       14.0        NaN
2          China       Chongqing  30.057200  107.874000        6.0        NaN
3          China          Fujian  26.078900  117.987400        1.0        NaN
4          China           Gansu  36.061100  103.834300        NaN        NaN
...          ...             ...        ...         ...        ...        ...
433125  Colombia         Unknown   5.026000  -74.297300        0.0        0.0
433126        US          Alaska  59.796037 -158.238194        1.0        0.0
433127    Canada  Grand Princess   0.000000    0.000000       13.0       13.0
433128        US           Idaho  46.233153 -116.434146        1.0        0.0
433129        US          Oregon  44.726982 -120.028143        0.0        0.0

        Deaths       Date
0          NaN  1/22/2020
1          NaN  1/22/2020
2          NaN  1/22/2020
3          NaN  1/22/2020
4          NaN  1/22/2020
...        ...        ...
433125     0.0  7/23/2020
433126     0.0  7/23/2020
433127     0.0  7/23/2020
433128     0.0  7/23/2020
433129     0.0  7/23/2020

[433130 rows x 8 columns]

In [2]:

USdata = data.loc[data["Country"] == "US", :]
Chinadata = data.loc[data["Country"] == "China", :]
print(Chinadata)

       Country Province/State  Latitude  Longitude  Confirmed  Recovered  \
0        China          Anhui   31.8257   117.2264        1.0        NaN
1        China        Beijing   40.1824   116.4142       14.0        NaN
2        China      Chongqing   30.0572   107.8740        6.0        NaN
3        China         Fujian   26.0789   117.9874        1.0        NaN
4        China          Gansu   36.0611   103.8343        NaN        NaN
...        ...            ...       ...        ...        ...        ...
432852   China        Tianjin   39.3054   117.3230      203.0      195.0
432853   China          Tibet   31.6927    88.0924        1.0        1.0
432908   China       Xinjiang   41.1129    85.2401      171.0       73.0
432915   China         Yunnan   24.9740   101.4870      189.0      185.0
432920   China       Zhejiang   29.1832   120.0934     1270.0     1267.0

        Deaths       Date
0          NaN  1/22/2020
1          NaN  1/22/2020
2          NaN  1/22/2020
3          NaN  1/22/2020
4          NaN  1/22/2020
...        ...        ...
432852     3.0  7/23/2020
432853     0.0  7/23/2020
432908     3.0  7/23/2020
432915     2.0  7/23/2020
432920     1.0  7/23/2020

[5972 rows x 8 columns]

In [3]:
USdata.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\USdata.csv', index = False)

In [4]:
Chinadata.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Chinadata.csv', index = False)

In [5]:
# File to Load (Remember to Change These)
file2 = "USdata.csv"

# Read Purchasing File and store into Pandas data frame
groupdata = pd.read_csv(file2)
print(groupdata)

       Country  Province/State   Latitude   Longitude  Confirmed  Recovered  \
0           US      Washington  47.140037 -120.791360        1.0        NaN
1           US      Washington  47.140037 -120.791360        1.0        NaN
2           US      Washington  47.140037 -120.791360        1.0        NaN
3           US         Chicago  38.212678  -89.502995        1.0        NaN
4           US      Washington  47.140037 -120.791360        1.0        NaN
...        ...             ...        ...         ...        ...        ...
371101      US  Virgin Islands  18.335800  -64.896300      336.0        0.0
371102      US        Oklahoma  35.542606  -97.068263        0.0        0.0
371103      US          Alaska  59.796037 -158.238194        1.0        0.0
371104      US           Idaho  46.233153 -116.434146        1.0        0.0
371105      US          Oregon  44.726982 -120.028143        0.0        0.0

        Deaths       Date
0          NaN  1/22/2020
1          NaN  1/23/2020
2          NaN  1/24/2020
3          NaN  1/24/2020
4          NaN  1/25/2020
...        ...        ...
371101     7.0  7/23/2020
371102     0.0  7/23/2020
371103     0.0  7/23/2020
371104     0.0  7/23/2020
371105     0.0  7/23/2020

[371106 rows x 8 columns]

In [6]:
January = groupdata.loc[1:29]
February = groupdata.loc[30:373]
March = groupdata.loc[374:32348]
April = groupdata.loc[32349:113679]
May = groupdata.loc[113680:206172]
June = groupdata.loc[206173:298348]
July = groupdata.loc[298349:371107]

print(January)

   Country Province/State   Latitude   Longitude  Confirmed  Recovered  \
1       US     Washington  47.140037 -120.791360        1.0        NaN
2       US     Washington  47.140037 -120.791360        1.0        NaN
3       US        Chicago  38.212678  -89.502995        1.0        NaN
4       US     Washington  47.140037 -120.791360        1.0        NaN
5       US       Illinois  39.860649  -89.130850        1.0        NaN
6       US     Washington  47.140037 -120.791360        1.0        NaN
7       US       Illinois  39.860649  -89.130850        1.0        NaN
8       US     California  37.938993 -120.997072        2.0        NaN
9       US        Arizona  33.348359 -111.344948        1.0        NaN
10      US     Washington  47.140037 -120.791360        1.0        NaN
11      US       Illinois  39.860649  -89.130850        1.0        NaN
12      US     California  37.938993 -120.997072        2.0        NaN
13      US        Arizona  33.348359 -111.344948        1.0        NaN
14      US     Washington  47.140037 -120.791360        1.0        NaN
15      US       Illinois  39.860649  -89.130850        1.0        NaN
16      US     California  37.938993 -120.997072        2.0        NaN
17      US        Arizona  33.348359 -111.344948        1.0        NaN
18      US     Washington  47.140037 -120.791360        1.0        NaN
19      US       Illinois  39.860649  -89.130850        1.0        NaN
20      US     California  37.938993 -120.997072        2.0        NaN
21      US        Arizona  33.348359 -111.344948        1.0        NaN
22      US     Washington  47.140037 -120.791360        1.0        NaN
23      US       Illinois  39.860649  -89.130850        1.0        NaN
24      US     California  37.938993 -120.997072        2.0        NaN
25      US        Arizona  33.348359 -111.344948        1.0        NaN
26      US       Illinois  39.860649  -89.130850        2.0        NaN
27      US     California  37.938993 -120.997072        2.0        NaN
28      US     Washington  47.140037 -120.791360        1.0        NaN
29      US        Arizona  33.348359 -111.344948        1.0        NaN

    Deaths       Date
1      NaN  1/23/2020
2      NaN  1/24/2020
3      NaN  1/24/2020
4      NaN  1/25/2020
5      NaN  1/25/2020
6      NaN  1/26/2020
7      NaN  1/26/2020
8      NaN  1/26/2020
9      NaN  1/26/2020
10     NaN  1/27/2020
11     NaN  1/27/2020
12     NaN  1/27/2020
13     NaN  1/27/2020
14     NaN  1/28/2020
15     NaN  1/28/2020
16     NaN  1/28/2020
17     NaN  1/28/2020
18     NaN  1/29/2020
19     NaN  1/29/2020
20     NaN  1/29/2020
21     NaN  1/29/2020
22     NaN  1/30/2020
23     NaN  1/30/2020
24     NaN  1/30/2020
25     NaN  1/30/2020
26     NaN  1/31/2020
27     NaN  1/31/2020
28     NaN  1/31/2020
29     NaN  1/31/2020

In [7]:
January = January.groupby(["Province/State"]).sum()
February = February.groupby(["Province/State"]).sum()
March = March.groupby(["Province/State"]).sum()
April = April.groupby(["Province/State"]).sum()
May = May.groupby(["Province/State"]).sum()
June = June.groupby(["Province/State"]).sum()
July = July.groupby(["Province/State"]).sum()
February

,Latitude,Longitude,Confirmed,Recovered,Deaths
Province/State,,,,,
"Ashland, NE",38.212678,-89.502995,11.0,0.0,0.0
"Boston, MA",1228.442900,-2060.708100,29.0,2.0,0.0
"Chicago, IL",1214.464900,-2541.264200,58.0,42.0,0.0
"Humboldt County, CA",366.705000,-1114.825500,9.0,0.0,0.0
"Lackland, TX",38.212678,-89.502995,2.0,0.0,0.0
"Lackland, TX (From Diamond Princess)",235.063200,-788.907200,4.0,0.0,0.0
"Los Angeles, CA",987.513800,-3429.067300,29.0,0.0,0.0
"Madison, WI",1076.827500,-2235.030000,25.0,0.0,0.0
"Omaha, NE (From Diamond Princess)",330.036000,-767.806400,22.0,0.0,0.0
"Orange, CA",979.849100,-3417.739900,29.0,0.0,0.0
"Portland, OR",45.505100,-122.675000,1.0,0.0,0.0
"Sacramento County, CA",346.272300,-1092.187800,12.0,0.0,0.0
"San Antonio, TX",500.209700,-1674.391200,17.0,0.0,0.0
"San Benito, CA",987.554700,-3266.665200,54.0,0.0,0.0
"San Diego County, CA",621.598300,-2226.060900,36.0,9.0,0.0
"Santa Clara, CA",1083.268900,-3536.700800,57.0,9.0,0.0
"Seattle, WA",1380.579800,-3547.630900,34.0,21.0,1.0
"Snohomish County, WA",48.033000,-121.833900,1.0,0.0,0.0
"Tempe, AZ",969.339500,-3246.260000,29.0,5.0,0.0
"Travis, CA",38.212678,-89.502995,5.0,0.0,0.0
"Travis, CA (From Diamond Princess)",306.176800,-975.519200,10.0,0.0,0.0
Unassigned Location (From Diamond Princess),212.662200,837.828000,244.0,0.0,0.0

In [8]:
January.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\January.csv', index = True)
February.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\February.csv', index = True)
March.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\March.csv', index = True)
April.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\April.csv', index = True)
May.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\May.csv', index = True)
June.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\June.csv', index = True)
July.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\July.csv', index = True)

In [10]:
allmonths = groupdata.groupby(["Province/State"]).sum()
allmonths.to_csv(r'C:\Users\sacst\Desktop\Data_Analytics\covid-dashboard\Months\AllMonthsStateGroup.csv', index = True)